<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/processing_center</property>
        <property name="hibernate.connection.username">your_username</property>
        <property name="hibernate.connection.password">your_password</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Show and format SQL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Enable Hibernate's automatic schema management -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- List of mapping files or annotated classes -->
        <!-- <mapping resource="org/bank/processing_center/model/Account.hbm.xml"/> -->
        <!-- <mapping class="org.bank.processing_center.model.Account"/> -->

    </session-factory>
</hibernate-configuration>